.DS_Store

#ignore build dir
build/

#ignore nbproject dir
nbproject/

#ignore distribution dir
dist/

manifest.mf
build.xml

#ignore the spritesheet PSDs
src/data/sprites/critters/Full Sheets/

dist.zip