<Settings>
	<Player startingMoney="250" health="20"/>
	<Critter>
<!--                For smooth movement don't increase the speed past 2.5-->
		<NORMALCritter health="100" speed="1" reward="7" />
		<FIRECritter health="55" speed="2" reward="14"/>
		<ICECritter health="700" speed="0.35" reward="30"/>
	</Critter>
	<Tower>
		<NORMALTower baseDPS="30" range="128" shootingCounter="100" lockOn="true" cost="120"/>
		<FIRETower baseDPS="20" range="160" shootingCounter="100" lockOn="true" cost="180"/>
		<ICETower baseDPS="40" range="96" shootingCounter="100" lockOn="true" cost="250"/>
		<BULLETTower baseDPS="3" range="128" shootingCounter="100" lockOn="true" cost="60"/>
		<ROCKETTower baseDPS="30" range="180" shootingCounter="1500" lockOn="true" cost="300"/>
	</Tower>
</Settings>